
body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    background-image: url(kepek/47sa3d.jpg);
    height: 590px;
    background-size: cover;
    display: flex;
    transform: translateY(-250px);
}
#keret{
    display: block;
}
nav{
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 280px;
    text-transform: uppercase;
    font-size: small;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    transition-duration: 400ms;
    color: yellow;
}
.line{
    background-color: white;
    height: 6px;
    width: 38px;
    transition: 0.5s;
    border-radius: 2px;
    right: 5px;
    
}
  
  
  
.hamburger-menu{
    background-color: rgb(78, 77, 77);;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    gap: 5px;
    padding-top: 10px;
    height: 10vh;
    position: absolute;
    /*right: -60%;*/
    top: 90px;
    justify-content: space-evenly;
  
   
}
.hamburgericon{
    gap: 5px;
    position: relative;
    float: right;
    display: none;
    flex-direction: column;
  
    
    
}
.hamburger-menu a{
    text-decoration: none;
    color: white;
}
  
#Hcim{
    margin-top: 270px;
    color: white;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: lighter;
}

#tortenet{
    background-color: #3b3b3b;
    margin-top: -274px;
    color: white;
    background-size: auto;
    height: 320px;
    
}
#Tszoveg{
    padding-right: 0px;
}
#cimjobb{
    padding-left: 500px;
    padding-right: 200px ;
    margin-top: -100px;

}
#Tcim{
    margin-left: 150px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: xx-large;
}
#Tcim1{
    padding-left: 370px;
    color: gray;    
    transform: translateY(-30px);

}
#foglal{
    text-transform: uppercase;
}
#menu{
    color: white;
    text-align: center;
}
#Mcim{
    text-align: center;
}
#ajanl{
    text-align: center;
}
#Mszoveg{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
button{
    margin-top: 25px;
    height: 45px;
    width: 130px;
    border-radius: 0;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(56, 54, 54);
    transition-duration: 200ms;
}
#gomb2{
    margin-left: 10px;
    margin-right: 10px;
}
#specialitas{
    background-color: #3b3b3b;
    background-size: 100%;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
}
#Scim{
    text-align: center;
    text-transform: uppercase;
}
#Scim2{
    text-align: center;
    margin-top: -20px;
}
#eltakaras{
    color: #3b3b3b;
}
table{
    color: white;
}

.footer{
  
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-left: -35px;
   
}
table{
      margin: auto;
      height: 400px;
      width: 250px;
      margin: 0;
      border-spacing: 20px;
      text-align: left;
}
table td{
      border: 1px;
      border-color: rgb(139, 138, 138);
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-style: solid;
}
  
.probald{
      text-align: left;
      height: 600px;
      width: 300px;
      color: white;
}
.szeretettel{
    height: 600px;
    width: 400px;
    text-align: right;
    letter-spacing: 1px;
    font-size: smaller;
    color: white;
     
}
.nyitvatart{
    height: 600px;
    color: white;
}
.nyitvatart h4{
    margin-left: 10px;
    
    
}
  
#foglink{
    color: white;
    font-size: larger;
}
.footercim{
    border-top: 1px;
    border-color: rgb(139, 138, 138);
    border-bottom: 0;
    border-left:0 ;
    border-right: 0;
    border-style: solid;
    height: 200px;
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white ;
    font-size: 0.7rem; 
    width: 800px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(20, 50px);
    grid-template-rows: repeat(20, 50px);
    grid-gap: 10px;
    max-height: 80vh;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gallery__item--2 {
    grid-column-start: 10;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
}
.gallery__item--4 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 11;
}
.gallery__item--5 {
    grid-column-start: 10;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 11;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.kozep1{
    transform: translate(15px, -25px);
}
.kozep2{
    transform: translate(10px, -25px);
}
.kozep3{
    transform: translate(8px, -25px);
}
.kozep4{
    transform: translate(90px, -25px);
}
.kozep5{
    transform: translate(85px,-25px);
}
@media only screen and (max-width: 1150px) {
    .footercim{
        font-size: small;
    }
    #specialitas{
        padding-left: 100px;
        padding-right: 100px;
        height: 800 px;
    }
    #menu{
        color: white;
        text-align: center;
        background-color: black;
        height: 300px
    }
    #Tcim{
        margin-left: 100px;
        padding-top: 100px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: x-large;
        margin-right: 450px;
    }
    #Tcim1{
        padding-left: 140px;
        color: gray;    
        transform: translateY(-20px);
    }
    #Tszoveg{
        padding-right: 100px;
        margin-top: -110px;
        margin-left: -250px;
        margin-right: -150px;
    }
    #foglal{
        text-transform: uppercase;
        margin-left: -250px;
        margin-right: -100px;
    }
    #Piadina{
        margin-left: 12px;
        padding-right: 400px;
    }
    #Mszoveg{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (max-width: 930px) {
    .footercim{
        font-size: small;
    }
    .gallery{
        margin-left: -100px;
    }
}
@media only screen and (max-width: 800px) {
    body {
      background-color: black;
    }
    #specialitas{
        padding-left: 20px;
        padding-right: 20px;
        height: 700px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(20, 40px);
        grid-template-rows: repeat(20, 40px);
        grid-gap: 10px;
        max-height: 80vh;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .gallery__item--2 {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 10;
    }
    .gallery__item--4 {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 10;
    }
    .gallery__item--5 {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 10;
    }
    .kozep1{
        transform: translate(5px, -20px);
        font-size: xx-small;
    }
    .kozep2{
        transform: translate(10px, -20px);
    }
    .kozep3{
        transform: translate(2px, -20px);
        font-size: small;
    }
    .kozep4{
        transform: translate(65px, -20px);
    }
    .kozep5{
        transform: translate(30px, -20px);
    }
    #menu{
        color: white;
        text-align: center;
        background-color: black;
        height: 300px
    }
    #Tcim{
        margin-left: 100px;
        padding-top: 100px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: x-large;
        margin-right: 450px;
    }
    #Tcim1{
        padding-left: 140px;
        color: gray;    
        transform: translateY(-20px);
    }
    #Tszoveg{
        padding-right: 0px;
        margin-top: -110px;
        margin-left: -250px;
        margin-right: -150px;
    }
    #foglal{
        text-transform: uppercase;
        margin-left: -250px;
        margin-right: -100px;
    }
    #Piadina{
        margin-left: 12px;
        padding-right: 100px;
    }
    #Mszoveg{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #tortenet{
        height: 300px;
        }
    #keret{
        display: block;
    }
    .footercim{
        width: 75%;
    }
    .gallery{
        margin-left: 0px;
    }
    
}
@media only screen and (max-width: 680px) {
    header{
        height: 650px;
    }
    .hamburgericon{
        gap: 5px;
        position: relative;
        float: right;
        display: flex;
        flex-direction: column;
        cursor: pointer;
      
        
        
    }
    .hamburgericon.active .line:nth-child(1){
        opacity: 0;
        transition: 0.2s;
    }
    .hamburgericon.active .line:nth-child(2){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburgericon.active .line:nth-child(3){
      transform: translateY(-2px) rotate(-45deg);
    }
    nav a{
        display: none;
    }
    .line{
        display: block;
    }
    .hamburger-menu.active{
        background-color: rgb(78, 77, 77);;
        display: flex;
        flex-direction: column;
        width: 30%;
        text-align: center;
        gap: 5px;
        padding-top: 10px;
        height: 28vh;
        position: absolute;
        right: 0;
        top: 325px;
        justify-content: space-evenly;
        transition: 0.5s;
        text-transform: uppercase;
        
        
    }
    .hamburger-menu a:hover{
        opacity: 0.7;
        transition: 0.4s;
    }
    #Tszoveg{
        margin-right: 3px;
    }
    #tortenet{
        min-height: 400px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(20, 40px);
        grid-template-rows: repeat(20, 40px);
        grid-gap: 10px;
        max-height: 80vh;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .gallery__item--2 {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 10;
    }
    .gallery__item--4 {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 10;
    }
    .gallery__item--5 {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 10;
    }
    .kozep1{
        transform: translate(5px, -20px);
        font-size: xx-small;
    }
    .kozep2{
        transform: translate(10px, -20px);
    }
    .kozep3{
        transform: translate(2px, -20px);
        font-size: small;
    }
    .kozep4{
        transform: translate(65px, -20px);
    }
    .kozep5{
        transform: translate(30px, -20px);
    }
    .footer{
  
        height: 700px;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        display: flex;
        margin-left: -35px;
       
    }
    .footer{
        flex-direction: column;
    }
    .szeretettel{
        margin-top: 100px;
    }

    .footercim{
        margin-top: 150px;
        height: 100px;

    }

}
@media only screen and (max-width: 500px) {

    #Tcim{
        margin-left: 35px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 100px;
        padding-right: 0px;
        margin-right: 0px;
        padding-left: 0px;
        text-transform: uppercase;
        text-align: right;
        transform: translateY(-70px);

    }
    #Piadina{
        margin-left: 0px;
        padding-right: 0px ;
    }
    #Tcim1{
        padding-left: 0px;
        color: gray; 
        text-align: right;
        margin-left: 0px;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
        margin-right: 0px;  
        transform: translateY(-90px);
    
    }
    #Tszoveg{
        margin-right: 170px;
        margin-top: 0px;
        margin-left: -490px;
    }
    #foglal{
        text-transform: uppercase;
        margin-left: -490px;
        padding-right: 400px;
        line-break: initial;
    }
    #menu{
        min-height: 500px;
    }
    button{
        margin-top: 25px;
        height: 45px;
        width: 130px;
        border-radius: 0;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 100px;
        margin-left: 100px;
    }
    button:hover{
        cursor: pointer;
        background-color: rgb(56, 54, 54);
        transition-duration: 200ms;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(30, 40px);
        grid-template-rows: repeat(30, 40px);
        grid-gap: 10px;
        max-height: 80vh;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 16;
        grid-row-end: 24;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 11;
    }
    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 11;
        grid-row-end: 16;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 24;
        grid-row-end: 29;
    }
    #specialitas{
        min-height: 1600px;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin-left: -20px;
    }
    .kozep1{
        transform: translate(50px, -20px);
        font-size: medium;
    }
    .kozep2{
        transform: translate(-20px, -20px);
    }
    .kozep3{
        transform: translate(35px, -20px);
        font-size: medium;
    }
    .kozep4{
        transform: translate(120px, -20px);
    }
    .kozep5{
        transform: translate(120px, -20px);
    }

}
@media only screen and (max-width: 350px) {
    button{
        margin-top: 25px;
        height: 45px;
        width: 130px;
        border-radius: 0;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 50px;
        margin-left: 50px;
    }
    #Mszoveg{
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(30, 40px);
        grid-template-rows: repeat(30, 40px);
        grid-gap: 10px;
        max-height: 80vh;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 15;
        grid-row-end: 23;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 10;
    }
    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 10;
        grid-row-end: 15;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 23;
        grid-row-end: 28;
    }
    #specialitas{
        min-height: 1600px;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin-left: -20px;
    }
    .kozep1{
        transform: translate(95px, -20px);
    }
    .kozep2{
        transform: translate(-20px, -20px);
    }
    .kozep3{
        transform: translate(95px, -20px);
    }
    #Scim{
        font-size: x-large;
    }


}

@media only screen and (max-width: 300px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(30, 40px);
        grid-template-rows: repeat(30, 40px);
        grid-gap: 10px;
        max-height: 80vh;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 14;
        grid-row-end: 22;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 9;
    }
    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 14;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 22;
        grid-row-end: 27;
    }
    #specialitas{
        min-height: 1400px;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin-left: -20px;
    }
    #Tszoveg{
        margin-right: 230px;
    }
    #Scim{
        font-size: x-large;

    }

    .kozep1{
        transform: translate(75px, -20px);
    }
    .kozep2{
        transform: translate(-20px, -20px);
    }
    .kozep3{
        transform: translate(65px, -20px);
    }

  }