body{
    background-color: black;
}

header{
    background-image: url(kepek/47sa3d.jpg);
    height: 590px;
    background-size: cover;
    display: flex;
    transform: translateY(-250px);
}
nav{
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 280px;
    text-transform: uppercase;
    font-size: small;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    transition-duration: 400ms;
    color: yellow;
}
#Hcim{
    margin-top: 270px;
    color: white;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: lighter;
}

#tortenet{
    background-color: #3b3b3b;
    margin-top: -274px;
    color: white;
    
}
#Tszoveg{
    padding-right: 100px;
}
#cimjobb{
    padding-left: 500px;
    padding-right: 200px ;
    margin-top: -100px;

}
#Tcim{
    margin-left: 150px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: xx-large;
}
#Tcim1{
    padding-left: 370px;
    color: gray;    
    transform: translateY(-30px);

}
#trolo{
    color: #3b3b3b;
}
#foglal{
    text-transform: uppercase;
}
#menu{
    color: white;
    text-align: center;
}
#Mcim{
    text-align: center;
}
#ajanl{
    text-align: center;
}
#Mszoveg{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
button{
    margin-top: 25px;
    height: 45px;
    width: 130px;
    border-radius: 0;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(56, 54, 54);
    transition-duration: 200ms;
}
#gomb2{
    margin-left: 10px;
    margin-right: 10px;
}
#specialitas{
    background-color: #3b3b3b;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
    min-height: 75vh;
}
#Scim{
    text-align: center;
    text-transform: uppercase;
}
#Scim2{
    text-align: center;
    margin-top: -20px;
}
#eltakaras{
    color: #3b3b3b;
}
table{
    color: white;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(10, 100px);
    grid-gap: 10px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}