body{
    background-color: black;
}

header{
    background-image: url(kepek/47sa3d.jpg);
    height: 450px;
    background-size: cover;
    margin-top: -200px;
}
nav{
    margin-top: 160px;
    color: white;
    text-align: right;
    margin-right: 30px;
    text-transform: uppercase;
}

nav a{
    color: white;
    text-decoration: none;
}